<div class="flex items-center justify-center fixed z-10 w-4/5 h-full left-[10%] top-0" role="dialog"
    tabindex="-1" x-show="isModalOpen" x-on:click.away="isModalOpen = false" x-cloak x-transition>
    <div class="bg-white rounded-lg max-w-[800px] p-8 m-auto">
        <div class="flex flex-row items-center justify-between border-b-2 border-black">
            <h3 x-text="selected_printer" class="text-2xl font-bold"></h3>
            <a aria-label="Close" x-on:click="isModalOpen = false">✖</a>
        </div>
        <ul id="files-this-printer" class="my-4"></ul>
    </div>
</div>

<div class="w-full h-full fixed top-0 left-0 bg-black opacity-75" x-show="isModalOpen" x-cloak></div>